.rdfa-editor {
  // height: 30rem;
  height: 95rem;
  border: .1rem solid #BFC8D1;
}

// This was not an option in the skinning, so hardcoded
.say-toolbar {
  border-bottom: .1rem solid #BFC8D1;
}

// Disable display of toast hints
// @see https://github.com/lblod/ember-rdfa-editor/issues/26
// .say-container__aside {
//   display: none;
// }

.rdfa-editor img {
  width: 40%;
  height: auto;
}
.rdfa-editor .underline {
  text-decoration-line: underline;
  font-weight: bold;
}

.rdfa-editor #documentList {
  display: inline;
  list-style: none;
}

.rdfa-editor #documentList::before {
  content: "("
}

.rdfa-editor #documentList::after {
  content: ")"
}

.rdfa-editor img {
  width: 200%;
  left: -50%;
  position: relative;
  transform: translateY(-36%);
}

.rdfa-editor #documentList li {
  display: inline;
}

.rdfa-editor #documentList li:after {
  content: ", ";
}

.rdfa-editor #documentList li:last-child:after {
  content: "";
}